

    {%  extends 'crmapp/base.html' %}

    {% block content %}
    
    {%  include 'crmapp/status.html' %}
    
    <br>
    
    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Phone</th>
                    </tr>
                    {% for pro in customers %}

                    <tr>
                        <th><a class="btn btn-sm btn-info" href="{% url 'customer' pro.id %}">View</a></th>
                        <td>{{pro.name}}</td>
                        <td>{{pro.phone}}</td>
                       
                    </tr>
                    {% endfor %}
    
                </table>
            </div>
        </div>
    
        <div class="col-md-7">
            <h5>LAST 5 ORDERS</h5>
            <hr>
            <div class="card card-body">
             <!-- <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_order'  %}">Create Order</a>  --> 
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                    {% for pro in orders%}

                    <tr>
                        <td>{{pro.product}}</td>
                        <td>{{pro.date_created }}</td>
                        <td>{{pro.status}}</td>
                        <td><a class="btn btn-primary"  href="{% url 'update_order' pro.id  %}">Update</a></td>
						<td><a class="btn btn-warning" href="{% url 'delete_order' pro.id  %}">Delete</a></td>
                       
                    </tr>
                    {% endfor %}
            
                </table>
            </div>
        </div>
    
    </div>
    
    {% endblock %}